.home-container {
  padding: 20px;
  text-align: center;
  background-color: #fafafa;
  min-height: 100vh;
}

.home-container h1 {
  color: #333;
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  width: 50%;
  border: 2px solid #28a745;
  border-radius: 8px;
  outline: none;
  margin-bottom: 25px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
